{% assign collection = site[include.collection] %}

{% if include.only and include.facet_by and include.facet_by2 and include.facet_by3 %}
  {% assign subset = collection | where: include.facet_by, include.facet_by2, include.facet_by3, include.only %}
{% endif %}

 
<!-- this creates the gallery formatting (don't need to change) --> 
<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>
  </div>
</div>

<!-- this switches to writing in javascript --> 
<script type="text/javascript">

  // nothing to fix here
  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');
    var buttonDiv = $('#{{ include.collection }}-facet-buttons');
    
    // for first container, populates the page
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // for second container, populates the page
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // for third container, populates the page
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // for first container
    {% if include.facet_by %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        // "show all" button
        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>show all</button>`);
        }

        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }

        // this add dynamicism; when you click a tag, it sorts below for items related to that tag
        $(document).ready(function(){
          $(".facet").click(function(){
            var filterValue = $(this).attr('data-filter');
            $('.facet').removeClass('active');
            $(this).addClass('active');
            if(filterValue == 'all') { $('.all').show('slow'); }
            else { $('.all').hide('slow'); $(`.${filterValue}`).show('slow'); }
          });
        });
      {% endunless %}
    {% endif %}

    // for second container
    {% if include.facet_by2 %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by2] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }
      {% endunless %}
    {% endif %}

    // for third container
    {% if include.facet_by3 %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by3] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }
      {% endunless %}
    {% endif %}

  });
</script>
