{% assign collection = site[include.collection] %}

<!-- 
There are 4 tags I am currently sorting by 
(5 arguments, more can be added if one so chooses) 
--> 
{% if include.only and
  include.facet_by and 
  include.facet_by2 and 
  include.facet_by3 and
  include.facet_by4 %}
  {% assign subset = collection | 
    where: include.facet_by, 
    include.facet_by2, 
    include.facet_by3, 
    include.facet_by4,
    include.only %}
{% endif %}

<!-- 
This creates the gallery-style formatting 
(Nonspecific - i.e. applies to all arguments equally.) 
Each facet takes from the collection in a separate loop.
--> 
<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>
  </div>
</div>

<!-- 
This switches to programming in javascript. 
--> 
<script type="text/javascript">

  // Would suggest not changing this function.
  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');
    var buttonDiv = $('#{{ include.collection }}-facet-buttons');
    
    // FIRST CONTAINER; gathers info so it can later populate the page.
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
        // specifies first 
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.title }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // SECOND CONTAINER: gathers info so it can later populate the page.
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          // specifies second
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.title }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // THIRD CONTAINER: gathers info so it can later populate the page.
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          // specifies third
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.title }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // FOURTH CONTAINER: gathers info so it can later populate the page.
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          // specifies third
          "<div class='gallery-item {{ item[include.facet_by4] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by4] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.title }}'/><div class='overlay'><p class='info'>{{ item.title }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}
  
    // First container, creates the "see all" tab.
    // I would suggest not changing it. 
    {% if include.facet_by %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        buttonDiv.append(`<button class='btn facet active' data-filter='${facets}'>show all</button>`);

      {% endunless %}
    {% endif %}

    // All other contrainers, creates all the other tabs by grouping each into it's own array.
    {% if include.facet_by2 && include.facet_by3 && include.facet_by4 %}
      {% unless subset %}
        // Tells system that we're currently working with include.facet_byX tags
        // creates an array for each subgroup within a metadata label. 
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by2] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        var facets2 = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by3] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        var facets3 = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by4] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        // This puts in the buttons for each

        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }
        for (i in facets2) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets2[i]}'>${facets2[i]}</button>`);
        }
        for (i in facets3) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets3[i]}'>${facets3[i]}</button>`);
        }

      {% endunless %}
    {% endif %}

 // GLOBAL FEATURES
 // 'SHOW ALL' Button: Follows the third container's definition of facet. 
 // buttonDiv.append(`<button class='btn facet active' data-filter='${facets}'>show all</button>`);

 // DYNAMICISM; when you click a tag, it sorts below for items related to that tag
 // it operates off of the functions at the top of page
 
  $(document).ready(function(){
    $(".facet").click(function(){

        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
        } else {
          $(this).addClass('active');
        }

      // Creates a global "all" function
      var filterValue = $('this').attr('data-filter');
      if(filterValue == 'all') { 
        $('.all').show('slow'); 
        }
      else { 
        $('.all').hide('slow'); 
        $(`.${filterValue}`).show('slow'); }
      });
    });
  });
</script>

