{% assign collection = site[include.collection] %}

<!-- this makes it so there are 3 tags being sorted by --> 
{% if include.only and include.facet_by and include.facet_by2 and include.facet_by3 %}
  {% assign subset = collection | where: include.facet_by, include.facet_by2, include.facet_by3, include.only %}
{% endif %}

 
<!-- this creates the gallery formatting (don't need to change, applies to all equally) --> 
<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>
  </div>
</div>

<!-- this switches to writing in javascript --> 
<script type="text/javascript">

  // nothing to fix here
  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');
    var buttonDiv = $('#{{ include.collection }}-facet-buttons');
    
    // FIRST CONTAINER; gathers info so it can later populate the page
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // SECOND CONTAINER
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by2] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // THIRD CONTAINER
    {% if subset %}
      {% for item in subset %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% else %}
      {% for item in collection %}
        {%- capture item_html -%}
          "<div class='gallery-item {{ item[include.facet_by3] | slugify }} all'><a href='{{ item.url | absolute_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
        {%- endcapture -%}
        gallery.append({{ item_html | strip_newlines }});
      {% endfor %}
    {% endif %}

    // FIRST CONTAINER AGAIN; creates the sorting tags (top of page)
    {% if include.facet_by %}
      {% unless subset %}
        // tells system that we're currently working with include.facet_by tags
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

        // this puts in the buttons for each
        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }

      {% endunless %}
    {% endif %}

    // SECOND CONTAINER; creates the sorting tags 
    {% if include.facet_by2 %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by2] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));
        
        // this puts in the buttons for each
        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }
      {% endunless %}
    {% endif %}

    // THIRD CONTAINER; creates the sorting tags
    {% if include.facet_by3 %}
      {% unless subset %}
        var facets = Array.from(new Set([{%- for item in collection -%}'{{ item[include.facet_by3] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

        // this puts in the buttons for each
        for (i in facets) {
          buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
        }
      {% endunless %}
    {% endif %}


 // GLOBAL FEATURES

 // 'SHOW ALL' Button: 
   buttonDiv.append("<button class='btn facet active' data-filter='all'>show all</button>");
        

 // DYNAMICISM; when you click a tag, it sorts below for items related to that tag
 // it operates off of the functions at the top of page (3) 
  $(document).ready(function(){
    $(".facet").click(function(){
      var filterValue = $(this).attr('data-filter');
      $('.facet').removeClass('active');
      $(this).addClass('active');
      if(filterValue == 'all') { $('.all').show('slow'); }
      else { $('.all').hide('slow'); $(`.${filterValue}`).show('slow'); }
      });
    });
  
  });
</script>
