
  {
    "lunr_id": 12,
    "label": "Geospatial Visualization",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Post-secondary",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "ArcGIS"],
    "description": "Tutorial for visualizing geospatial data.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj12",
    "url": "../datavis/obj12/"
  },
  {
    "lunr_id": 13,
    "label": "Crawling Noise",
    "object_type": "visualization",
    "topic": "Humanities",
    "purpose": "Classroom example",
    "audience_level": "Post-secondary",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Mapping the networks of sound.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj13",
    "url": "../datavis/obj13/"
  },
  {
    "lunr_id": 14,
    "label": "Map of the World",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Creative ways to split up the world.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj14",
    "url": "../datavis/obj14/"
  },
  {
    "lunr_id": 15,
    "label": "ArcGIS Example",
    "object_type": "visualization",
    "topic": "Mathematics",
    "purpose": "Classroom example",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "HTML",
    "description": "An introductory visualization for learning ArcGIS.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj15",
    "url": "../datavis/obj15/"
  },
  {
    "lunr_id": 16,
    "label": "Visualizing Panel Data from Norway",
    "object_type": "visualization",
    "topic": "Anthropology",
    "purpose": "Project",
    "audience_level": "Graduate",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "HTML", "SQL"],
    "description": "How has Norway changed in the modern decade?",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj16",
    "url": "../datavis/obj16/"
  },
  {
    "lunr_id": 17,
    "label": "Ancient Manuscripts",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Project",
    "audience_level": "Graduate",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["ArcGIS", "Django"],
    "description": "Ancient texts reveal interesting clues to the present.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj17",
    "url": "../datavis/obj17/"
  },
  {
    "lunr_id": 18,
    "label": "Plotly in R",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Exam practice",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["HTML","Django"],
    "description": "Plotly is an open-source tool for interactive visualizations.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj18",
    "url": "../datavis/obj18/"
  },
  {
    "lunr_id": 19,
    "label": "Plotly in Python",
    "object_type": "visualization",
    "topic": "Mathematics",
    "purpose": "Exam practice",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["HTML", "CSS"],
    "description": "Plotly is an open-source tool for interactive visualizations.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj19",
    "url": "../datavis/obj19/"
  },
  {
    "lunr_id": 20,
    "label": "Template",
    "object_type": "visualization",
    "topic": "Physics",
    "purpose": "Project",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Tableau", "R"],
    "description": "Template file to showcase beta version of website.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj20",
    "url": "../datavis/obj20/"
  },
  {
    "lunr_id": 21,
    "label": "Connect the Dots",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Tableau", "R"],
    "description": "Simple dot-connecting simulation.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj21",
    "url": "../datavis/obj21/"
  },
  {
    "lunr_id": 22,
    "label": "Neural Networks in R",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Tableau"],
    "description": "Tools to better visualize data in R or R Studio.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj22",
    "url": "../datavis/obj22/"
  },
  {
    "lunr_id": 23,
    "label": "Effective Pie Charts",
    "object_type": "visualization",
    "topic": "Physics",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "Tableau",
    "description": "Pie charts - important to do correctly.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj23",
    "url": "../datavis/obj23/"
  }