
  {
    "lunr_id": 12,
    "label": "Geospatial Visualization",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Python", "ArcGIS"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj12",
    "url": "../datavis/obj12/"
  },
  {
    "lunr_id": 13,
    "label": "Crawling Noise",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj13",
    "url": "../datavis/obj13/"
  },
  {
    "lunr_id": 14,
    "label": "Map of the World",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj14",
    "url": "../datavis/obj14/"
  },
  {
    "lunr_id": 15,
    "label": "ArcGIS Example",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "Matlab",
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj15",
    "url": "../datavis/obj15/"
  },
  {
    "lunr_id": 16,
    "label": "Panel Data from Norway",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Matlab", "SQL"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj16",
    "url": "../datavis/obj16/"
  },
  {
    "lunr_id": 17,
    "label": "Ancient Manuscripts",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["ArcGIS", "R", "Python", "Django"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj17",
    "url": "../datavis/obj17/"
  },
  {
    "lunr_id": 18,
    "label": "Plotly in R",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["ArcGIS", "HTML", "SQL", "Django"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj18",
    "url": "../datavis/obj18/"
  },
  {
    "lunr_id": 19,
    "label": "Plotly in Python",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["HTML", "CSS", "SQL", "SPSS"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj19",
    "url": "../datavis/obj19/"
  },
  {
    "lunr_id": 20,
    "label": "Template",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Stata", "JavaScript"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj20",
    "url": "../datavis/obj20/"
  },
  {
    "lunr_id": 21,
    "label": "Connect the Dots",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Stata", "JavaScript", "Matlab", "EViews"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj21",
    "url": "../datavis/obj21/"
  },
  {
    "lunr_id": 22,
    "label": "Data Visualization Techniques in R",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Tableau"],
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj22",
    "url": "../datavis/obj22/"
  },
  {
    "lunr_id": 23,
    "label": "Effective Pie Charts",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "Tableau",
    "description": "Simple and compelling way to show connections and relationships.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj23",
    "url": "../datavis/obj23/"
  }