{
  "pid": "dv3",
  "label": "built : Los Angeles",
  "date_of_upload": "6/26/20",
  "creator": "Andy Rutkowski",
  "date_of_creation": "2015 (latest update 2019)",
  "source_url": "https://github.com/cityhubla/LA_Building_Age",
  "description": "This visualization shows every building in Los Angeles County mapped by the year in which it was built. The example is aimed at showing how open source tools such as QGIS, Leaflet, and Mapbox might be used to visualize open data. ",
  "vis_type": "map / spatial data, animation",
  "data_domain": "housing",
  "original_context": "Fun and educational",
  "audience_level": "Intermediate, Advanced",
  "audience_composition": "General, Librarian/information professional",
  "pedagogical_description": "Location based example that draws people in because housing is so important in Los Angeles. Shows the development of Los Angeles via building data which is freely available.",
  "addl_data_props": null,
  "ethical_quandries": "This dataset is a great way for people to think about development, access to housing, and issues in urban studies.",
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv3/thumbnail.jpg",
  "permalink": "/datavis/dv3",
  "lunr_id": 0
},
{
  "pid": "dv2",
  "label": "Gun Deaths in Florida",
  "date_of_upload": "6/26/20",
  "creator": "C.Chan",
  "date_of_creation": "16-Feb-14",
  "source_url": "https://www.businessinsider.com/gun-deaths-in-florida-increased-with-stand-your-ground-2014-2",
  "description": "Visualization of the number of gun deaths in Florida from 1990-2013",
  "vis_type": "line chart",
  "data_domain": "safety",
  "original_context": "news article",
  "audience_level": "Adult beginner (high school and older)",
  "audience_composition": "General",
  "pedagogical_description": "Demonstrates the power of visual encoding to make the visualization harder to interpret. The creator tried to use the metaphor of dripping blood and flipped the y-axis but it's easier to see the rise in gun deaths when the y-axis is in the more traditional direction. Flipped version of the chart is later in the article.",
  "addl_data_props": null,
  "ethical_quandries": null,
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv2/thumbnail.jpg",
  "permalink": "/datavis/dv2",
  "lunr_id": 1
},
{
  "pid": "dv6",
  "label": "Legislative Explorer",
  "date_of_upload": "6/26/20",
  "creator": "John Wilkerson and Rohnin Randles",
  "date_of_creation": "2020",
  "source_url": "http://legex.org/",
  "description": "Visualization to see the legislative process from start to finish. Follow from bills to law. Has options for the United States and for Washington (state).",
  "vis_type": "animation",
  "data_domain": "law",
  "original_context": "educational",
  "audience_level": "Adult beginner (high school and older), Intermediate",
  "audience_composition": "General",
  "pedagogical_description": "Value of being able to filter, use of a timeline",
  "addl_data_props": null,
  "ethical_quandries": "Transparency -- links to the original bills so that users can read about it further. But how would they handle representing bipartisan legislation? Also, uncertain if this visualization is web accessible. ",
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv6/thumbnail.jpg",
  "permalink": "/datavis/dv6",
  "lunr_id": 2
},
{
  "pid": "dv1",
  "label": "Minard's Map of Napoleon's March",
  "date_of_upload": "6/26/20",
  "creator": "Charles Minard",
  "date_of_creation": "1869",
  "source_url": "https://upload.wikimedia.org/wikipedia/commons/2/29/Minard.png",
  "description": "Charles Minard's visualization depicting Napoleon's march on Moscow",
  "vis_type": "line chart, map / spatial data",
  "data_domain": "history",
  "original_context": "unknown",
  "audience_level": "Adult beginner (high school and older), Intermediate",
  "audience_composition": "General, Librarian/information professional",
  "pedagogical_description": "Good example of making choices about what and how to visualize, including removing superfluous elements",
  "addl_data_props": null,
  "ethical_quandries": null,
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv1/thumbnail.jpg",
  "permalink": "/datavis/dv1",
  "lunr_id": 3
},
{
  "pid": "dv5",
  "label": "Water Use in the U.S.",
  "date_of_upload": "6/26/20",
  "creator": "USGS VIZLAB",
  "date_of_creation": "5/15/19",
  "source_url": "https://owi.usgs.gov/vizlab/water-use-15/#view=NC&category=thermoelectric",
  "description": "A compilation of data visualizations about water use in the U.S. in 2015, based on data from the U.S. Geological Survey (USGS) National Water Use Science Project.",
  "vis_type": "bar chart, pie chart or donut chart, map / spatial data, interactive quiz; mixed map and pie chart",
  "data_domain": "Geography, Hydrology, Public Data",
  "original_context": "Government Data Source",
  "audience_level": "Intermediate, Advanced",
  "audience_composition": "General",
  "pedagogical_description": "Example data visualizations are presented with corresponding dataset and code linked on the page, programming and data visualizations created using GitHub and Java, Jenkins, CSS, Docker, Rstudio/R, data visualizations can be recreated from data using multiple tools/programs and compared with original source and include examples of design principles and best practices in use.",
  "addl_data_props": null,
  "ethical_quandries": null,
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv5/thumbnail.jpg",
  "permalink": "/datavis/dv5",
  "lunr_id": 4
},
{
  "pid": "dv4",
  "label": "Casualties of the Iraq War",
  "date_of_upload": "6/26/20",
  "creator": "Simon Scarr",
  "date_of_creation": "2011",
  "source_url": "http://www.simonscarr.com/iraqs-bloody-toll",
  "description": "A visualization of casualties of the Iraq war. From the creator: \"This graphic was created to mark the end of the United States' military engagement in Iraq in 2011. Over 4,800 coalition soldiers and tens of thousands of Iraqis lost their lives in the war. One deliberate design choice with this graphic was the visual metaphor of blood. This striking visual would hopefully draw the reader into the graphic.\"",
  "vis_type": "bar chart, line chart, map / spatial data, infographic, dashboard",
  "data_domain": "war",
  "original_context": "news article",
  "audience_level": "Adult beginner (high school and older), Intermediate",
  "audience_composition": "General",
  "pedagogical_description": "Data visualization tells a story. Emotional ",
  "addl_data_props": "Visualization does not include casualties for the civilian population or adversarial force.",
  "ethical_quandries": "Questions about representation (e.g. who is represented and who is not represented?). Issues of spatial aggregation in the map (How do casualty count port to troop population size? Can we know if one area was more dangerous than another?) ",
  "collection": "datavis",
  "thumbnail": "img/derivatives/simple/dv4/thumbnail.jpg",
  "permalink": "/datavis/dv4",
  "lunr_id": 5
}
