<footer id='wax-footer' class='page-footer container-fluid'>
  <div class='wax-inline-container'>
    <div class='row'>
      <div class='col'>
        <p class='footer-title'>{{ site.title }}</p>
        <p class='footer-copyright'>
          &copy; {{ site.copyright }}<br>
          Template from <a href='https://github.com/minicomp/wax/'>Minicomp/Wax</a>
        </p>
      </div>
      <div class='col'>
        <p class='footer-title'>Links</p><br>
        <p class='footer-links'>
          {% for item in site.footer.links %}
            <a href='{{ item.link | absolute_url }}'>
              {{ item.label }}
            </a>
          {% unless forloop.last %} / {% endunless %}
          {% endfor %}<br>
          Built by <a href='https://amawest.github.io/#About'>Amanda West</a>
        </p>
      </div>
    </div>
  </div>
</footer>
