<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% if item.type == 'link' %}
      {% if key == 'manifest' %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
        {%- endcapture -%}
      {% else %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
            {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
          </a>
        {%- endcapture -%}
      {% endif %}
    {% endif %}
      <dt>{{ item.label }}</dt>
      {% if value.first %}
        <dd>
          <ul>
          {% for v in value %}
            <li>{{ v | strip }}</li>
          {% endfor %}
          </ul>
        </dd>
      {% else %}
        <dd>{{ value | strip }}</dd>
      {% endif %}
  {% endfor %}
</dl>
