{
  "lunr_id": 0,
  "label": "World War II Data",
  "object_type": "data",
  "topic": "Social science",
  "purpose": "Teaching",
  "audience_level": "Post-secondary",
  "audience_composition": "General public",
  "collection": "datavis",
  "language": ["R", "Python"],
  "description": "World War II casualties by country.",
  "filesize" : "Small",

  "thumbnail": "/img/csv_design.png",
  "permalink": "/datasets/obj0",
  "imageURL": "../img/csv_design.png",
  "url": "../datasets/obj0/"
},
{
  "lunr_id": 1,
  "label": "Types of Flowers",
  "object_type": "data",
  "topic": "Humanities",
  "purpose": "Classroom example",
  "audience_level": "Post-secondary",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Small",

  "permalink": "/datasets/obj1",
  "imageURL": "../img/csv_design.png",
  "description": "A rose by any other name is.....",
  "url": "../datasets/obj1/"
},
{
  "lunr_id": 2,
  "label": "Tarantulas",
  "object_type": "data",
  "topic": "Biology",
  "purpose": "Teaching",
  "audience_level": "Secondary school",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Small",

  "permalink": "/datasets/obj2",
  "imageURL": "../img/csv_design.png",
  "description": "Yuck! A comprehensive look at all types of tarantulas.",
  "url": "../datasets/obj2/"
},
{
  "lunr_id": 3,
  "label": "D.C. Pizzeria Data",
  "object_type": "data",
  "topic": "Mathematics",
  "purpose": "Classroom example",
  "audience_level": "Secondary school",
  "audience_composition": "General public",
  "collection": "datavis",
  "description": "List of current pizzerias in the D.C. area, ranked by deliciousness.",
  "filesize" : "Medium",

  "thumbnail": "/img/csv_design.png",
  "permalink": "/datasets/obj3",
  "imageURL": "../img/csv_design.png",
  "url": "../datasets/obj3/"
},
{
  "lunr_id": 4,
  "label": "Banana Exports 1998",
  "object_type": "data",
  "topic": "Anthropology",
  "purpose": "Project",
  "audience_level": "Graduate",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Medium",

  "permalink": "/datasets/obj4",
  "imageURL": "../img/csv_design.png",
  "description": "List of South American banana exports since 1998.",
  "url": "../datasets/obj4/"
},
{
  "lunr_id": 5,
  "label": "Chinese Zodiak Data",
  "object_type": "data",
  "topic": "Social science",
  "purpose": "Project",
  "audience_level": "Graduate",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Medium",

  "permalink": "/datasets/obj5",
  "imageURL": "../img/csv_design.png",
  "description": "Data for each year organized by zodiak sign.",
  "url": "../datasets/obj5/"
},
{
  "lunr_id": 6,
  "label": "Income Elasticities",
  "object_type": "data",
  "topic": "Biology",
  "purpose": "Exam practice",
  "audience_level": "Professional",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Large",

  "permalink": "/datasets/obj6",
  "imageURL": "../img/csv_design.png",
  "description": "A list of income elasticites by state.",
  "url": "../datasets/obj6/"
},
{
  "lunr_id": 7,
  "label": "Movies from 1941",
  "object_type": "data",
  "topic": "Mathematics",
  "purpose": "Exam practice",
  "audience_level": "Professional",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Large",

  "permalink": "/datasets/obj7",
  "imageURL": "../img/csv_design.png",
  "description": "All movies that played in 1941 (US).",
  "url": "../datasets/obj7/"
},
{
  "lunr_id": 8,
  "label": "Movies from 1942",
  "object_type": "data",
  "topic": "Physics",
  "purpose": "Project",
  "audience_level": "Professional",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Large",

  "permalink": "/datasets/obj8",
  "imageURL": "../img/csv_design.png",
  "description": "All movies that played in 1942 (US).",
  "url": "../datasets/obj8/"
},
{
  "lunr_id": 9,
  "label": "Movies from 1945",
  "object_type": "data",
  "topic": "Social science",
  "topic": "Social science",
  "purpose": "Visual aid",
  "audience_level": "All levels",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Large",

  "permalink": "/datasets/obj9",
  "imageURL": "../img/csv_design.png",
  "description": "All movies that played in 1945 (US).",
  "url": "../datasets/obj9/"
},
{
  "lunr_id": 10,
  "label": "British Election Data",
  "object_type": "data",
  "topic": "Biology",
  "purpose": "Visual aid",
  "audience_level": "All levels",
  "audience_composition": "General public",
  "collection": "datavis",
  "thumbnail": "/img/csv_design.png",
  "filesize" : "Large",

  "permalink": "/datasets/obj10",
  "imageURL": "../img/csv_design.png",
  "description": "Election data for the United Kingdom from the past 50 years.",
  "url": "../datasets/obj10/"
},
{
  "lunr_id": 11,
  "label": "U.S. Supreme Court Appointees",
  "object_type": "data",
  "topic": "Physics",
  "purpose": "Visual aid",
  "audience_level": "Secondary school",
  "audience_composition": "General public",
  "collection": "datavis",
  "description": "List of Supreme Court appointees, year, & party of presidency ",
  "filesize" : "Very large",

  "thumbnail": "/img/csv_design.png",
  "permalink": "/datasets/obj11",
  "imageURL": "../img/csv_design.png",
  "url": "../datasets/obj11/"
},


  

  {
    "lunr_id": 12,
    "label": "Geospatial Visualization",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Teaching",
    "audience_level": "Post-secondary",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Python", "ArcGIS"],
    "description": "Tutorial for visualizing geospatial data.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj12",
    "url": "../datavis/obj12/"
  },
  {
    "lunr_id": 13,
    "label": "Crawling Noise",
    "object_type": "visualization",
    "topic": "Humanities",
    "purpose": "Classroom example",
    "audience_level": "Post-secondary",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Mapping the networks of sound.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj13",
    "url": "../datavis/obj13/"
  },
  {
    "lunr_id": 14,
    "label": "Map of the World",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Teaching",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["CSS", "SQL"],
    "description": "Creative ways to split up the world.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj14",
    "url": "../datavis/obj14/"
  },
  {
    "lunr_id": 15,
    "label": "ArcGIS Example",
    "object_type": "visualization",
    "topic": "Mathematics",
    "purpose": "Classroom example",
    "audience_level": "Secondary school",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "Matlab",
    "description": "An introductory visualization for learning ArcGIS.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj15",
    "url": "../datavis/obj15/"
  },
  {
    "lunr_id": 16,
    "label": "Visualizing Panel Data from Norway",
    "object_type": "visualization",
    "topic": "Anthropology",
    "purpose": "Project",
    "audience_level": "Graduate",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Matlab", "SQL"],
    "description": "How has Norway changed in the modern decade?",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj16",
    "url": "../datavis/obj16/"
  },
  {
    "lunr_id": 17,
    "label": "Ancient Manuscripts",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Project",
    "audience_level": "Graduate",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["ArcGIS", "Django"],
    "description": "Ancient texts reveal interesting clues to the present.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj17",
    "url": "../datavis/obj17/"
  },
  {
    "lunr_id": 18,
    "label": "Plotly in R",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Exam practice",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["HTML","Django"],
    "description": "Plotly is an open-source tool for interactive visualizations.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj18",
    "url": "../datavis/obj18/"
  },
  {
    "lunr_id": 19,
    "label": "Plotly in Python",
    "object_type": "visualization",
    "topic": "Mathematics",
    "purpose": "Exam practice",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["HTML", "CSS", "SPSS"],
    "description": "Plotly is an open-source tool for interactive visualizations.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj19",
    "url": "../datavis/obj19/"
  },
  {
    "lunr_id": 20,
    "label": "Template",
    "object_type": "visualization",
    "topic": "Physics",
    "purpose": "Project",
    "audience_level": "Professional",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Stata", "JavaScript"],
    "description": "Template file to showcase beta version of website.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj20",
    "url": "../datavis/obj20/"
  },
  {
    "lunr_id": 21,
    "label": "Connect the Dots",
    "object_type": "visualization",
    "topic": "Social science",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["Stata", "EViews"],
    "description": "Simple dot-connecting simulation.",

    "thumbnail": "/img/logo_white.png",
    "imageURL": "../img/logo_white.png",
    "permalink": "/datavis/obj21",
    "url": "../datavis/obj21/"
  },
  {
    "lunr_id": 22,
    "label": "Neural Networks in R",
    "object_type": "visualization",
    "topic": "Biology",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : ["R", "Tableau"],
    "description": "Tools to better visualize data in R or R Studio.",

    "thumbnail": "/img/logo_black.png",
    "imageURL": "../img/logo_black.png",
    "permalink": "/datavis/obj22",
    "url": "../datavis/obj22/"
  },
  {
    "lunr_id": 23,
    "label": "Effective Pie Charts",
    "object_type": "visualization",
    "topic": "Physics",
    "purpose": "Visual aid",
    "audience_level": "All levels",
    "audience_composition": "General public",
    "collection": "datavis",
    "language" : "Tableau",
    "description": "Pie charts - important to do correctly.",

    "thumbnail": "/img/logo_sepia.png",
    "imageURL": "../img/logo_sepia.png",
    "permalink": "/datavis/obj23",
    "url": "../datavis/obj23/"
  }