[
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj2/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "Ruby"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "SAS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Humanities",
          "purpose": "Interactive",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
          },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Ruby"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Stata", "SAS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["SAS", "Stata"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["Stata", "SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL", "CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["CSS", "ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Anthropology"],
          "purpose": "Group Projects",
          "language": ["ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": ["Anthropology"],
          "purpose": "Group Projects",
          "language": ["ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": ["Anthropology"],
          "purpose": "Group Projects",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Anthropology"],
          "purpose": "Homework",
          "language": ["CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Anthropology"],
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": ["Anthropology"],
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["R", "HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Homework",
          "language": ["R", "CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
          },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Homework",
          "language": ["ArcGIS", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
      ]