---
layout: page
title: Browse the Collection
permalink: /collection/
---
<p>This site&#39;s sample collection comprises a set of objects, each of which is 
        represented by one or more images. The collection items in this demo are provided 
        by the <a href="https://clarkdatalabs.github.io/">Clark Data Labs</a> at the 
        University of Michigan and the <a href="https://visualizingthefuture.github.io//">Visualizing the Future</a> Fellowship community. </p>

<!DOCTYPE html>
<html>
  <head>
    <title>
      Faceted Search JavaScript Library
    </title>
    <style>
      
      /* These are the styles used specifically in the faceted search. */

      .facetsearch {
        display: inline-block;
        width: 200px;
        vertical-align: top;
      }
      .activeorderby,
      .activefacet {
        color: rgb(69, 140, 216);
      }
      .bottomline {
        padding: 15px 0 20px 0;
        color: rgb(69, 140, 216);
      }
      .bottomline .orderby, 
      .bottomline .facettotalcount {
        display: inline-block;
      }
      .bottomline .orderby ul,
      .bottomline .orderby li {
        display: inline;
        padding: 0;
      }
      .bottomline .orderby-title {
        margin: 0 0 0 10px;
      }
      .bottomline .deselectstartover {
        float: right;
      }
      #language {
        width: 400px;
      }
      #language .facetlist{
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
      }
      .item {
        width: 150px;
        height: 320px;
        margin: 0 10px 10px 0;
        display: inline-block;
        vertical-align: top;
      }
      .item h4 {
        font-size: 15px;
      }
      .item .tags {
        font-weight: bold;
        color: gray;
        font-size: 15px;
      }
      #showmorebutton {
        border: 1px solid #AAA;
        border-radius: 15px;
        background-color: #DDD;
        margin: 0 0 10px 0;
        padding: 10px;
        width: 100%;
        display: block;
        text-align: center;
        cursor: pointer;
      }

      * {
        margin: 0;
        padding: 0;
      }
      body {
        padding: 20px;
        font-family: sans-serif;
        font-size: 17px;
      }
      #wrapper, #documentation {
        margin: 0 auto;
        width: 800px;
      }
      p {
        padding-bottom: .5em;
        line-height: 1.2em;
        margin: 0px;
        font-size: 15px;
      }
      h1, h2, h3{
        margin: 0 0 1em 0;
        font-size: 15px;
      }
      tt {
        background-color: #EEE;
        border: 1px solid #CCC;
      }
    </style>
  </head>
  <body>
    <div id=wrapper>
      <div id=facets></div>
      <div id=results></div>
    </div>
    <script src="../assets/facetedsearchbar/jquery-1.6.2.js"></script>
    <script src="../assets/facetedsearchbar/underscore-1.1.7.js"></script>
    <script src="../assets/facetedsearchbar/facetedsearch.js"></script>
    <script>
      /* This is where you can add a link to a code snippet... */
      /* The code below also affects image sizing and alignment (currently center aligned) */
      $(function(){
          var item_template = 
           '<div class="item">' +
             '<img alt="Image" height="100" width="150" style="padding: 0 22px; float: center;" src="<%= obj.imageURL %>">' + 
             '<a href="<%= obj.url %>"><h5><%= obj.title %></h5></a>' +  
             '<p class="tags">' + 
             '<% if (obj.topic) {  %><%= obj.topic %><% } %>' +
             '<% if (obj.purpose) {  %>, <%= obj.purpose %><% } %>' +
             '<% if (obj.language) {  %>, <%= obj.language %><% } %>' +
             '</p>' +
             '<p class="desc"><%= obj.description %></p>' +
           '</div>';
        settings = { 
          items            : example_items,
          facets           : { 
                              'topic'     : 'Topic',
                              'purpose'    : 'Purpose',
                              'language'     : 'Language'
          },  
          resultSelector   : '#results',
          facetSelector    : '#facets',
          resultTemplate   : item_template,
          paginationCount  : 50,
          orderByOptions   : {'title': 'Alphabetical |', 'RANDOM': 'Random'},
          facetSortOption  : { }
        }   

        // Various facet functionalities
        $.facetelize(settings);

      });
    </script>
    <script>
      var example_items = [
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "Ruby"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["R", "SAS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Social Science",
          "purpose": "Teaching",
          "language": ["HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
          },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Ruby"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["Stata", "SAS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Humanities",
          "purpose": "Classroom Visuals",
          "language": ["SAS", "Stata"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["Stata", "SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["SQL", "CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Mathematics",
          "purpose": "Group Projects",
          "language": ["CSS", "ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Group Projects",
          "language": ["ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Group Projects",
          "language": ["ArcGIS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Group Projects",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Homework",
          "language": ["CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": ["Sociology", "Anthropology"],
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["Jekyll", "Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Biology",
          "purpose": "Homework",
          "language": ["R", "HTML"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Homework",
          "language": ["R", "CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
          },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Homework",
          "language": ["ArcGIS", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Geospatial Visualization",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Crawling Noise",
          "imageURL": "../img/logo_black.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Map of the World",
          "imageURL": "../img/logo_sepia.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Connect the Dots",
          "imageURL": "../img/logo_white.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["R", "Python"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Panel Data from Norway",
          "imageURL": "../img/logo_black.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["Matlab"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in R",
          "imageURL": "../img/logo_sepia.png",
          "topic": "Social Science",
          "purpose": "Study Guide",
          "language": ["Javascript"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
        {
          "title": "Visualization in Python",
          "imageURL": "../img/logo_white.png",
          "topic": ["Biology", "Physics"],
          "purpose": "Study Guide",
          "language": ["CSS"],
          "description": "Simple and compelling way to show connections and relationships.",
          "url": "../datavis/obj1/"
        },
      ];
    </script>
  </body>
</html>