---
layout: default
---

{%- assign the_collection = site[page.collection] -%}
{% assign num = the_collection | size %}
{% assign col_metadata = site.collections | where: 'label', page.collection | first %}
{% assign labels = site.data[col_metadata.dictionary] %}


<h1>{{ page.title }}</h1>

<div><p>{{ page.welcome }}</p></div>

<div id='wax-gallery-{{ page.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div class="row">
      <div id="filter-container" class="col-4" style="background-color: #eae7de;">
        <h2>Filters</h2>
        {% for facet in page.facet_by %}
        <h3>
        {% if labels.size %}
          {% assign dict_entry = labels | where: 'field_name', facet | first %}
          {{ dict_entry.field_label }}
        {% else %}
          {{ facet }}
        {% endif %}
        </h3>
        <div id="{{ page.collection }}-{{ facet }}-buttons" >
          {% assign options = the_collection | map: facet | compact | uniq | sort_natural %}
          {% for option in options %}
          <div class="form-check">
            {% assign slugopt = option | slugify %}
            <input type='checkbox' id='{{ slugopt }}' name='{{ slugopt }}' value='{{ slugopt }}' class='facet {{ facet }} form-check-input' data-filter='{{ slugopt }}'>
            <label class="form-check-label" for='{{ slugopt }}'>{{ option }}</label>
          </div>
          {% endfor %}
          <button id='{{ facet }}-clear' class='btn btn-light clearAll' data-filter='{{ facet }}' style='margin: 10px;'>clear all</button>
          <button id='{{ facet }}-select' class='btn btn-light selectAll' data-filter='{{ facet }}' style='margin: 10px;'>select all</button>

        </div>
        {% endfor %}
      </div>
      <div id="results-container" class="col-8">
        <h2>Results</h2>
        <div><span id="count">{{ num }}</span>&nbsp;examples selected</div>
        <div id="wax-gallery-{{ page.collection }}" class="wax-gallery" >
          {% for item in the_collection %}
              {% include {{ page.item_include }} %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  //TODO: figure out how to deal with examples that list more than
  //one value for a facet (e.g., multiple vis types)
  //TODO: better labels for the facets - specify in config?
  //TODO: style

  $( document ).ready(function() {
    {% if page.facet_by %}

      var allFacets = '{{ page.facet_by | join: ","}}'.split(",");;
      //console.log(allFacets);

      {% for facet in page.facet_by %}
        checkAllInGroup('{{ facet }}');

        {% for item in the_collection %}
        var element = document.getElementById("{{ item.pid }}");
          {% for facet_option in item[facet] %}
          element.classList.add("{{ facet_option | slugify }}");
          {% endfor %}
        {% endfor %}

      {% endfor %}

      $(".facet").click(function(){
          var facetGroup = this.classList[1]; // first class is "facet", second is facet group

          // when something is manually clicked, you want to focus
          // on the facet group for the new selection. other facet groups
          // should be ignored at first. so, find the other facet groups
          // and uncheck everything.

          for (group in allFacets) {
            if (allFacets[group] != facetGroup) {
              uncheckAllInGroup(allFacets[group]);
            }
          }
          updateResultsBasedOnChecks(facetGroup);

      });

      $('.selectAll').click(function(event) {  //on click
          var facetGroup = $(this).attr('data-filter');
          for (facet in allFacets) {
            checkAllInGroup(allFacets[facet]);
          }
          updateResultsBasedOnChecks(facetGroup);
      });

      $('.clearAll').click(function(event) {  //on click
        var facetGroup = $(this).attr('data-filter');
        for (facet in allFacets) {
          uncheckAllInGroup(allFacets[facet]);
        }
        updateResultsBasedOnChecks(facetGroup);
      });

      function uncheckAllInGroup(facetGroup) {
        $(`.${facetGroup}`).each(function() {
            $(this).prop('checked',false);
        });
        //console.log(`${facetGroup} turned off`);
      }

      function checkAllInGroup(facetGroup) {
        $(`.${facetGroup}`).each(function() {
            $(this).prop('checked',true);
        });
        //console.log(`${facetGroup} turned on`);
      }

      function updateResultsBasedOnChecks(facetGroup){
        $('.gallery-item').hide('slow');
        var checkedOptions = $(`.${facetGroup}`).filter(":checked").map(function(){return $(this).attr("data-filter");}).get();
        //console.log(checkedOptions);
        var allClasses = [];
        var allItems = new jQuery.fn.init;
        for (option in checkedOptions) {
          var items = $(`.${checkedOptions[option]}`);
          allItems = allItems.add(items);
          var itemClassLists = items.map(function(){return this.classList}).get();
          for (ind in itemClassLists) {
              itemClassLists[ind].forEach(function(x){ if (x != "gallery-item" & x != "all") {allClasses.push(x);}});
          }
        }
        uniqueClasses = [...new Set(allClasses)];
        allItems = jQuery.uniqueSort( allItems );
        allItems.show('slow');
        //console.log(uniqueClasses);

        document.getElementById("count").innerHTML = allItems.length;

        for (cl in uniqueClasses) {
          $(`#${uniqueClasses[cl]}`).prop('checked',true);
        }


      }

    {% endif %}
  });
</script>
