---
layout: default
---

{% assign col_metadata = site.collections | where: 'label', page.collection | first %}
{% assign labels = site.data[col_metadata.dictionary] %}
{% assign the_collection = col_metadata.docs %}
{% assign num = the_collection | size %}


<h1>{{ page.title }}</h1>

<div><p>{{ page.welcome }}</p></div>

<div id='wax-gallery-{{ page.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div class="row">
      <div id="filter-container" class="col-md-4" style="background-color: #eae7de;">
        <h2>Filters</h2>
        <div class="row">
        {% for facet in page.facet_by %}
        <div class="col-md-12 col-sm-6 col-xs-12">
        <h3 style="margin-top: 1rem;">
        {% if labels.size %}
          {% assign dict_entry = labels | where: 'field_name', facet | first %}
          {{ dict_entry.field_label }}
        {% else %}
          {{ facet }}
        {% endif %}
        </h3>
        <div id="{{ page.collection }}-{{ facet }}-buttons" >
          {% assign options = the_collection | map: facet | compact | uniq | sort_natural %}
          {% for option in options %}
          <div class="form-check">
            {% assign slugopt = option | slugify %}
            <input type='checkbox' name='{{ facet }}' value='{{ slugopt }}' id='{{ slugopt }}' class='facet {{ facet }} form-check-input'>
            <label class="form-check-label" for='{{ slugopt }}'>{{ option }}</label> <span id="{{ slugopt }}-num"><span>
          </div>
          {% endfor %}
          <button id='{{ facet }}-clear' class='btn btn-light clearAll' data-filter='{{ facet }}' style='margin: 10px;'>clear all</button>
          <button id='{{ facet }}-select' class='btn btn-light selectAll' data-filter='{{ facet }}' style='margin: 10px;'>select all</button>

        </div>
        </div>
        {% endfor %}
        </div>
      </div>
      <div id="results-container" class="col-md-8">
        <h2>Results</h2>
        <div><span id="count">{{ num }}</span>&nbsp;examples selected</div>
        <div id="wax-gallery-{{ page.collection }}" class="wax-gallery" >
          {% for item in the_collection %}
              {% include {{ page.item_include }} %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $( document ).ready(function() {
    {% if page.facet_by %}

    {% for facet in page.facet_by %}
      {% for item in the_collection %}
      var element = document.getElementById("{{ item.pid }}");
        {% for facet_option in item[facet] %}
        element.classList.add("{{ facet_option | slugify }}");
        {% endfor %}
      {% endfor %}

    {% endfor %}


    var allCheckboxes = document.querySelectorAll('input[type=checkbox]');
    var allItems = Array.from(document.querySelectorAll('.gallery-item'));
    var checked = {};

    var allFacets = '{{ page.facet_by | join: ","}}'.split(",");

    for (facet in allFacets) {
      getChecked(allFacets[facet]);
    }

    Array.prototype.forEach.call(allCheckboxes, function (el) {
      el.addEventListener('change', toggleCheckbox);
    });

    updateCounts();

    function toggleCheckbox(e) {
      getChecked(e.target.name);
      setVisibility();
    }

    function getChecked(name) {
      checked[name] = Array.from(document.querySelectorAll('input[name=' + name + ']:checked')).map(function (el) {
        return el.value;
      });
    }

    function setCheckedAll(name) {
      //jQuery version
      //$('.'+name).each(function() {
      //    $(this).prop('checked',true);
      //});
      Array.from(document.querySelectorAll('input[name=' + name + ']')).map(function (el) {
        el.checked = true;
      });
      getChecked(name);
    }

    function setUncheckedAll(name) {
      Array.from(document.querySelectorAll('input[name=' + name + ']')).map(function (el) {
        el.checked = false;
      });
      getChecked(name);
    }

    $('.selectAll').click(function(event) {  //on click
      setCheckedAll(event.target.getAttribute('data-filter'));
      setVisibility();
    });

    $('.clearAll').click(function(event) {  //on click
      setUncheckedAll(event.target.getAttribute('data-filter'));
      setVisibility();
    });

    function setVisibility() {
      allItems.map(function (el) {
        var itemValuesByFacet = {};

        for (facet in allFacets) {
          var facetName = allFacets[facet];
          if (checked[facetName].length) {
            var itemClasses = Array.from(el.classList);
            var checkedClasses = checked[facetName];
            var intersection = itemClasses.filter(value => checkedClasses.includes(value));
            itemValuesByFacet[facetName] = intersection.length;
          } else {
            itemValuesByFacet[facetName] = true;
          }
        }

        // test if all item values are true
        if (Object.values(itemValuesByFacet).every(Boolean)) {
          el.style.display = 'block';
        } else {
          el.style.display = 'none';
        }
      });
      updateCounts();

    }

    function updateCounts() {
      var visibleItems = $("div:visible.gallery-item");
      document.getElementById("count").innerHTML = visibleItems.length;

      var allClasses = [];
      var itemClassLists = visibleItems.map(function(){return $(this).attr('class').split(/\s+/);}).get()
      itemClassLists.map(function(x){ if (x != "gallery-item" & x != "any") {allClasses.push(x);}});

      let class_counts = allClasses.reduce((total, value) => {total[value] = (
          total[value] || 0) + 1;
          return total;}, Object.create(null));

      var allCounts = $("[id$=num]");
      allCounts.each( function(index, el){
        var name = $(el).attr("id").replace("-num","");
        if (name in class_counts) {
          el.innerHTML = "[" + class_counts[name] + "]";
        }
        else {
          el.innerHTML = "[0]";
        }
      });
    }

    {% endif %}
  });
</script>
