---
layout: default
---

{%- assign the_collection = site[page.collection] -%}
{% assign num = the_collection | size %}

<h1>{{ page.title }}</h1>

<div><p>{{ page.welcome }}</p></div>

<div id='wax-gallery-{{ page.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div class="row">
      <div id="filter-container" class="col-4" style="background-color: #eae7de;">
        <h2>Filters</h2>
        {% for facet in page.facet_by %}
        <h3>{{ facet }}</h3>
        <div id="{{ page.collection }}-{{ facet }}-buttons" ></div>
        {% endfor %}
      </div>
      <div id="results-container" class="col-8">
        <h2>Results</h2>
        <div><span id="count">{{ num }}</span>&nbsp;examples selected</div>
        <div id="wax-gallery-{{ page.collection }}" class="wax-gallery" ></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  //TODO: figure out how to deal with examples that list more than
  //one value for a facet (e.g., multiple vis types)
  //TODO: better labels for the facets - specify in config?
  //TODO: style

  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ page.collection }}-container');
    var gallery = $('#wax-gallery-{{ page.collection }}');

    {% for item in the_collection %}
      {%- capture item_html -%}
        "<div id={{ item.pid }} class='gallery-item'><a href='{{ site.baseurl }}/{{ page.collection }}/{{ item.pid }}/'><div class='hovereffect'><img class='img-responsive gallery-thumb' src='{{ item.thumbnail | absolute_url }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
      {%- endcapture -%}
      gallery.append({{ item_html | strip_newlines }});
    {% endfor %}

    {% if page.facet_by %}

      var allFacets = '{{ page.facet_by | join: ","}}'.split(",");;
      //console.log(allFacets);

      {% for facet in page.facet_by %}
        var buttonDiv = $('#{{ page.collection }}-{{ facet }}-buttons');

        var facets = Array.from(new Set([{%- for item in the_collection -%}'{{ item[facet] | slugify }}'{% unless forloop.last %}, {% endunless %}{%- endfor -%}]));

        for (i in facets) {
          //buttonDiv.append(`<button class='btn facet' data-filter='${facets[i]}'>${facets[i]}</button>`);
          buttonDiv.append(`<div class="form-check"><input type='checkbox' id='${facets[i]}' name='${facets[i]}' value='${facets[i]}' class='facet {{ facet }} form-check-input' data-filter='${facets[i]}'><label class="form-check-label" for='${facets[i]}'>${facets[i]}</label></div>`);
        }
        checkAllInGroup('{{ facet }}');
        buttonDiv.append("<button id='{{ facet }}-clear' class='btn btn-light clearAll' data-filter='{{ facet }}' style='margin: 10px;'>clear all</button>");
        buttonDiv.append("<button id='{{ facet }}-select' class='btn btn-light selectAll' data-filter='{{ facet }}' style='margin: 10px;'>select all</button>");

        {% for item in the_collection %}
        var element = document.getElementById("{{ item.pid }}");
          element.classList.add("{{ item[facet] | slugify }}");
        {% endfor %}

      {% endfor %}

      $(document).ready(function(){

        $(".facet").click(function(){
          var facetGroup = this.classList[1]; // first class is "facet", second is facet group

          // when something is manually clicked, you want to focus
          // on the facet group for the new selection. other facet groups
          // should be ignored at first. so, find the other facet groups
          // and uncheck everything.

          for (group in allFacets) {
            if (allFacets[group] != facetGroup) {
              uncheckAllInGroup(allFacets[group]);
            }
          }
          updateResultsBasedOnChecks(facetGroup);

          });
        });

        $('.selectAll').click(function(event) {  //on click
            var facetGroup = $(this).attr('data-filter');
            for (facet in allFacets) {
              checkAllInGroup(allFacets[facet]);
            }
            updateResultsBasedOnChecks(facetGroup);
        });

        $('.clearAll').click(function(event) {  //on click
          var facetGroup = $(this).attr('data-filter');
          for (facet in allFacets) {
            uncheckAllInGroup(allFacets[facet]);
          }
          updateResultsBasedOnChecks(facetGroup);
        });

        function uncheckAllInGroup(facetGroup) {
          $(`.${facetGroup}`).each(function() {
              $(this).prop('checked',false);
          });
          //console.log(`${facetGroup} turned off`);
        }

        function checkAllInGroup(facetGroup) {
          $(`.${facetGroup}`).each(function() {
              $(this).prop('checked',true);
          });
          //console.log(`${facetGroup} turned on`);
        }

        function updateResultsBasedOnChecks(facetGroup){
          $('.gallery-item').hide('slow');
          var checkedOptions = $(`.${facetGroup}`).filter(":checked").map(function(){return $(this).attr("data-filter");}).get();
          //console.log(checkedOptions);
          var allClasses = [];
          for (option in checkedOptions) {
            var items = $(`.${checkedOptions[option]}`);
            items.show('slow');
            var itemClasses = items.map(function(){return this.classList}).get();
            for (item in itemClasses) {
                itemClasses[item].forEach(function(x){ if (x != "gallery-item" & x != "all") {allClasses.push(x);}});
            }
          }
          uniqueClasses = [...new Set(allClasses)];
          //console.log(uniqueClasses);

          for (cl in uniqueClasses) {
            $(`#${uniqueClasses[cl]}`).prop('checked',true);
          }

          // number not working for checkbox selections
          var allItems = $(".gallery-item:visible");
          document.getElementById("count").innerHTML = allItems.length;

        }

    {% endif %}
  });
</script>
