---
layout: default
image_viewer: 'openseadragon'
pagination: true
meta:
  - label
  - creator
  - date_of_creation
  - source_url
  - description
  - example_type
  - vis_type
  - subject_area
  - original_context
  - audience_level
  - audience_composition
  - pedagogical_description
  - ethical_quandries
  - data_processing
  - language_tool
  - linked_code
  - data_type
  - geospatial_std
  - linked_instr_mtl
  - linked_example
  - approved_date
---

<div class='item-view' style="margin-bottom: 20px;">
  <span class='pagination-link' id='prevlink'></span>
  <div style="display:inline;">
  <h1 alt="{{ page.label }}" class='item-label' style="text-align: center;">{{ page.label }}</h1>
  </div>
  <span class='pagination-link' id='nextlink'></span>
</div>
{% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}

{% comment %}
  The block below controls the image viewer
{% endcomment %}

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer and page.full %}
    {% if viewer == 'openseadragon' %}
    <div style="width: 100%; margin-bottom: 20px;">
    </div>
    <div class="item-summary">

      <div class="col-sm-4 order-sm-1">
        <p><b>{{page.label}}</b></p>
        <p>{{page.creator}}. {{page.date_of_creation}}.</p>
        <p><a href="{{ page.full | absolute_url }}">Download full-sized image</a></p>
        <p><a href="{{ page.source_url | absolute_url }}">View source URL</a></p>
        
      </div>

      <div class="col-sm-8 order-sm-2">
        <a href="{{ page.full | absolute_url }}">
          <img src="{{ page.full | absolute_url }}" />
          </a>
      </div>
    </div>
    {% endif %}
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% assign col_metadata = site.collections | where: 'label', page.collection | first %}
{% assign labels = site.data[col_metadata.dictionary] %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size and labels.size %}
  {% include item_metadata.html meta=metadata labels=labels %}
{% endif %}
