---
layout: default
image_viewer: 'openseadragon'
pagination: true
meta:
  - label
  - creator
  - date_of_creation
  - source_url
  - description
  - example_type
  - vis_type
  - subject_area
  - original_context
  - audience_level
  - audience_composition
  - pedagogical_description
  - ethical_quandries
  - data_processing
  - language_tool
  - linked_code
  - data_type
  - geospatial_std
  - linked_instr_mtl
  - linked_example
  - approved_date
---

<div class='item-view' style="margin-bottom: 20px;">
  <span class='pagination-link' id='prevlink'></span>
  <div style="display:inline;">
  <h1 alt="{{ page.label }}" class='item-label' style="text-align: center;">{{ page.label }}</h1>
  </div>
  <span class='pagination-link' id='nextlink'></span>
</div>
{% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}

{% comment %}
  The block below controls the image viewer
{% endcomment %}

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer and page.full %}
    {% if viewer == 'openseadragon' %}
    <div style="width: 100%; margin-bottom: 20px;">
      <a href="{{ page.full | absolute_url }}">
      <img class="img-fluid mx-auto" style="display: block;"
            src="{{ page.full | absolute_url }}" />
      </a>
    </div>
    {% endif %}
{% comment %}
  An include like this can be used to display in-page data tables, when
  data assets are ready. Will need to tailor for item data instead of
  collection metadata.
  Probably want an elsif and another test; for example, instead of
  looking for page.full, could look for page.csv_preview or something.
  {% endcomment %}
{% elsif page.preview %}
      <div id="data-preview" style="width: 100%; margin-bottom: 20px;">
        {% include data_preview.html data_file=page.preview pid=page.pid %}
      </div>
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% assign col_metadata = site.collections | where: 'label', page.collection | first %}
{% assign labels = site.data[col_metadata.dictionary] %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size and labels.size %}
  {% include item_metadata.html meta=metadata labels=labels %}
{% endif %}
