---
layout: indiv_examples
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Author'
    value: page.author
  - label: 'Description'
    value: page.description
  - label: 'Type'
    value: page.object_type
  - label: 'Topic'
    value: page.topic
  - label: 'Purpose'
    value: page.purpose
  - label: 'Year Published'
    value: page.published
  - label: 'Audience Level'
    value: page.audience_level
  - label: 'Audience Composition'
    value: page.audience_composition
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'Download Data'
    value: page.dataset
    type:  link
---

