---
layout: indiv_examples_datavis
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Creator'
    value: page.creator
  - label: 'Description'
    value: page.description
  - label: 'Visualization Type'
    value: page.vis_type
  - label: 'Topic'
    value: page.data_domain
  - label: 'Original Context'
    value: page.original_context
  - label: 'Date of Creation'
    value: page.date_of_creation
  - label: 'Date of Upload'
    value: page.date_of_upload
  - label: 'Audience Level'
    value: page.audience_level
  - label: 'Audience Composition'
    value: page.audience_composition
  - label: 'Pedagogical Description'
    value: page.pedagogical_description
  - label: 'Additional Data Properties'
    value: page.addl_data_props
  - label: 'Ethical Quandries'
    value: page.ethical_quandries
  - label: 'Source'
    value: page.source_url
    type:  link
---
